{% extends "master.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<!--
<form action="">
	<h1>Login</h1>
	<p>Don't have an account <a href="/create-account/">Sign up</a>, It takes less than a minute.</p>

	<div class="form_group">
		<label for="email/username">Email or Username:</label><br>
	    <input type="text" name="email" id="email/username" placeholder="Enter Email/Username">
	</div><br>

	<div class="form_group">
		<label for="pwd">Password:</label><br>
		<input type="password" name="pwd" id="pwd" placeholder="Enter Password">
	</div><br>

	<div class="form_group">
		<input type="submit" value="Submit">
	</div>

	<a href="#">Forgot password</a>

</form>
-->
<h2>Registration Form</h2>
<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p}}
	<input type="submit" value="Submit">
</form>


{% endblock %}